* {
  box-sizing: border-box;
  user-select: none;

  /* Trying to make iOS not zoomable with double tap. */
  /* touch-action: none; */
  /* pointer-events: none; */
}

body {
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none;
}

.parent {
  /* max-width: 480px; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.boardcontainer {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--cellsize));
  grid-auto-rows: var(--cellsize);
  justify-content: center;
}

.ui {
  min-height: 20vh;
  height: 20vh;
}

.outer {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  font-size: var(--cellsize);
}
