* {
  box-sizing: border-box;
  user-select: none;
  /* Trying to make iOS not zoomable with double tap. */
  touch-action: none;
  pointer-events: none;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none;
}

.top {
  height: 1%;
}

.ui {
  background-color: cyan;
  height: 19%;
}

.board {
  column-gap: 2px;
  row-gap: 2px;
  height: 80%;
  width: 100%;
  background-color: gray;
  display: inline-grid;
  vertical-align: top;
  grid-template-columns: repeat(var(--cols), 1fr);
}

/* Cells (outer) */
.board > div {
  border: 1px solid red;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cells (inner) */
.board > div > div {
  position: absolute;
  font-size: var(--emojisize);
}

.container {
  width: 56.25vh;
  height: 100%;
  background: pink;
  max-height: 177.78vw;
  max-width: 100vw;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
